<footer id="footer" class="footer" onselectstart="return false;">
    <div class="copyright">
        <span>©<%= config.author %></span>
        <img src="/image/count.png" height="12px" width="12px"><span id="busuanzi_value_site_uv" style="font-size:15px;color:#C0C0C0"></span>
    </div>
<!-- Hi~ -->
</footer>
